@import "../Variables//variables";

.homepage {
  position: relative;
  height: 500px;
  margin-top: -10px;

  .mobileHero {
    display: none;
  }

  .headings {
    position: relative;
    top: 55%;
    display: flex;
    padding: 0px 60px;
    width: 100%;
    gap: 10px;

    .heading1 {
      margin-left: 30px;
    }

    .heading2 {
      margin-left: 50px;
    }

    div {
      width: 50%;

      h1 {
        color: #fff;
        font-family: $h1Font;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 40px;
      }

      button {
        background-color: $primaryColor;
        width: 120px;
        height: 40px;
        border: none;
        font-family: $titleFont;
        color: #fff;
        border-radius: 50px;
        font-weight: 600;
        letter-spacing: 0.03em;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }

      button:hover {
        background-color: $secondaryColor;
        box-shadow: 0px 15px 20px rgba(5, 41, 27, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
    }
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.categorySection {
  display: flex;
  margin-top: 40px;
  @include containerStyle();
  margin-top: 30px;
  gap: 20px;

  .categoryLeft {
    width: 55%;
    height: 490px;
    background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px !important;
    }

    div {
      margin: 20px;
      h4 {
        font-family: $titleFont;
        margin: 0px;
        font-weight: 800;
        margin-bottom: 5px;
        letter-spacing: 0.03em;
        font-size: 18px;
      }
      p {
        font-family: $textFont;
        margin: 0px;
        letter-spacing: 0.03em;
        font-weight: 600;
      }

      .link {
        display: flex;
        gap: 5px;
        align-items: center;
        margin: 0px;
        cursor: pointer;

        .line {
          height: 2px;
          width: 23px;
          background-color: #000;
          margin: 0px;
        }
      }
    }
  }

  .categoryRight {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 490px;
    justify-content: space-between;
  }

  .top {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
    padding: 20px;
    justify-content: space-between;
    border-radius: 8px;

    .image {
      margin: 0px !important;
      margin-right: 60px !important;
    }

    div {
      h4 {
        font-family: $titleFont;
        margin: 0px;
        font-weight: 800;
        margin-bottom: 5px;
        letter-spacing: 0.03em;
        font-size: 18px;
      }
      p {
        font-family: $textFont;
        margin: 0px;
        letter-spacing: 0.03em;
        font-weight: 600;
      }

      .link {
        display: flex;
        gap: 5px;
        align-items: center;
        margin: 0px;
        cursor: pointer;

        .line {
          height: 2px;
          width: 20px;
          background-color: #000;
          margin: 0px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .bottomLeft {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
      background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
      width: 50%;
      justify-content: space-between;
      border-radius: 8px;

      .image {
        margin: 0px !important;
      }

      div {
        h4 {
          font-family: $titleFont;
          margin: 0px;
          font-weight: 800;
          margin-bottom: 5px;
          letter-spacing: 0.03em;
          font-size: 18px;
        }
        p {
          font-family: $textFont;
          margin: 0px;
          letter-spacing: 0.03em;
          font-weight: 600;
        }

        .link {
          display: flex;
          gap: 5px;
          align-items: center;
          margin: 0px;
          cursor: pointer;

          .line {
            height: 2px;
            width: 20px;
            background-color: #000;
            margin: 0px;
          }
        }
      }
    }

    .bottomRight {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
      width: 50%;
      justify-content: space-between;
      border-radius: 8px;

      .image {
        margin: 0px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      div {
        h4 {
          font-family: $titleFont;
          margin: 0px;
          font-weight: 800;
          margin-bottom: 5px;
          letter-spacing: 0.03em;
          font-size: 18px;
        }
        p {
          font-family: $textFont;
          margin: 0px;
          letter-spacing: 0.03em;
          font-weight: 600;
        }

        .link {
          display: flex;
          gap: 5px;
          align-items: center;
          margin: 0px;
          cursor: pointer;

          .line {
            height: 2px;
            width: 20px;
            background-color: #000;
            margin: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 815px) and (max-aspect-ratio: 13/9) {
  .background {
    display: none !important;
  }

  .mobileHero {
    display: block !important;
  }

  .headings {
    display: none !important;
  }

  .homepage {
    margin: 0px;
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: fit-content;
    margin-top: -10px;
  }

  .categorySection {
    flex-direction: column;
    margin: 0px 20px;
    margin-top: 50px;

    .categoryLeft {
      width: 100%;
      height: fit-content;
      flex-direction: row;
      gap: 20px;
    }

    .categoryRight {
      width: 100%;
      height: fit-content;
    }

    .top {
      .image {
        margin: 0px !important;
      }
    }

    .bottom {
      flex-direction: column;
      .bottomLeft {
        width: 100%;
        margin-top: 20px;
        flex-direction: row;
        gap: 20px;
      }
      .bottomRight {
        width: 100%;
        flex-direction: row-reverse;
      }
    }
  }
}
